html{
  font-size: 62.5%;
}
img{
  vertical-align: middle;
  border-style: none;
}
body{
  line-height: 1.7;
  font-family: "Noto Sans JP",sans-serif;
  font-feature-settings:"pkna";
  font-size: 1.6rem;
  margin:0;
  // overflow-y:hidden;
}
button{
  padding: 0;
}
// variable
$color--brack:black;
$color--white:white;
$color--green:#2498b3;//ボタンの背景色
$color--skyblue:rgb(229, 244, 247);//ドロップダウンメニューの背景色、余白
$color--blue:rgb(212, 237, 245);//リストにカーソルを合わせているときの色(ul)
$color--emerald:rgb(75,150,176);//リスト内の文字色が反転したときの色(li)

// header
.wrapper{
  max-width:100%;
  margin:0 auto;
}
//headerの範囲の定義と設定
.header-Top{
  height: 70px;
  width:100%;
  display: flex;
  z-index: 1100;
  justify-content: space-between;
  position: fixed;
  top:0;
  left:0;
  background-color:$color--white;
}

//-----header左上部分の定義-----
.header-logo{
  height: 33px;
  width:auto;
}
.header-Top-text{
  min-width: 0%;
  width: 0%;
  letter-spacing: 0px;
  margin-left:16px;
  color:$color--brack;            /* 文字色を黒 */
  background-color:$color--white;  /* 背景色を白 */
  line-height: 1.3;
  font-weight: 900;
  font-size:14px;
}
.header-title {
  p{
    margin: 0 0 0 21px;     /* ロゴの左に余白 */
    width:160px;            /* 幅を指定 */
    margin-top:0px;         /* header上の余白を0にする */
    margin-bottom:0px;      /* header下の余白を0にする */
  }
  a{
    height: 70px;
    width: 160px;  
    display: flex;
    align-items: center;  
    text-decoration: none;
  }
  span{
    white-space: nowrap;
    margin-left:16px;  
}
  strong{
    font-size: 1.8rem;
    font-weight: bolder;
    margin:0;
  }
}
//-----header左上部分の定義ここまで-----
//-----header右上の部分の定義(nav)-----
.header-nav {
  display: flex;         /* navを横並びに指定する */
  align-items: center;   /* 中央揃え */
  padding:0 15px;
  height: 70px;          /* header欄の高さの指定 */
  width:auto;            /* 幅を自動で指定 */
  color:$color--brack;         /* 文字色を黒 */
  list-style-type: none;  /* リストの点を非表示 */
  margin-top:0px;         /* header上の余白を0にする */
  margin-bottom:0px;      /* header下の余白を0にする */
  padding-right: 0px;     /* header右側の余白を0にする */
  ul li a{
    padding:15px 60px 15px 15px;
  }
}

// nav部分の下線を非表示 
.nav-body {              
  position: relative;
  height: 70px;             /* header欄の高さの指定 */
  width:auto;               /* 幅を自動で指定 */
  text-decoration: none;    /* 線を非表示 */
  align-items: center;      /* 中央揃え */
  color:$color--brack;            /* 文字色を黒 */
  background-color:$color--white;  /* 背景色を白 */
  line-height: 1.3;
  font-weight: 700;
  a{
    display: flex;
    background-color:$color--white;
    padding:0px 15px;
  }
  :hover{
    background:$color--blue;
    transition: 0.2s;
  }
}
// link部分のリストの設定
.nav-link{
  display:block;
  margin: 0; 
  padding: 0; 
  list-style-type: none;
  line-height: 1.3;
  font-weight: 400;
  font-size: 1.6rem;

  //マウスが置かれたときにドロップダウンメニューを表示
  position: absolute;
  top:70px;
  left:0;
  z-index: 1100;
  li{
    a{
      white-space: nowrap;
      display: block;  
      height: auto;
      background-color:$color--skyblue;
      padding: 0px 15px;
      text-decoration: none;
      color:$color--brack;
      line-height: 1.7;  
    }
    :hover{
      color:$color--emerald;
      background:$color--white;
      transition: 0.1s;
    }
  }
  display: none;
}

// 受講お申し込みの背景と文字の変更 
.nav-body-sp {
  a{
    display: flex;                      /* navを横並びに指定する */
    height: 70px;                       /* header欄の高さの指定 */
    width:auto;                         /* 幅を自動で指定 */
    align-items: center;                /* 中央揃え */
    color:$color--white;                /* 文字色を白 */
    background-color: $color--green;    /* 背景色をターコイズ */
    line-height: 1.3;
    padding:0px 15px;
  }
}

//ハンバーガーメニューの設定
//ボタンの定義
$btnWidth: 23px;
$btnHeight: 2px;

.nav-button{
  background: $color--white;
  border: none;
  width: 50px;
  height: 50px;
  position: relative;
  transition: 0.3s;
  @media screen and (min-width: 1200px){
    display: none;
  }
  &.is-open{
    background: $color--green;
  }
  &::before,
  &::after {
    content   : "";
    width     : $btnWidth;
    height    : $btnHeight;
    background: $color--green;
    position  : absolute;
    left      : calc( 50% - (11.5px));
    display   : block;
    transition: transform 0.2s;
    }
    &::before {
      top: 16px;
    }
    &::after {
      top: 34px;
    }
    > span {
      width     : $btnWidth;
      height    : $btnHeight;
      font-size      : 0;
      background-size: auto $btnHeight;
      background: $color--green;
      position       : absolute;
      left           : calc( 50% - ( 11.5px ) );
      top            : 50%;
      transition     : transform 0.2s;
    }
    &.is-open {
      &::before {
        transform: rotate( 45deg );
        top      : 25px;
        background: $color--white;
      }
      &::after {
        transform: rotate( -45deg );
        top      : 25px;
        background: $color--white;
      }
      > span {
        background: none;
      }
    }
}
body.is-open {
  position: fixed;
}

//-----header右上の部分の定義(nav)ここまで-----
//main要素の範囲設定
.main{
  padding-top:70px;
}

//-----中心のtextboxの定義-----
.Top-Head{
  position: relative;
  height: 650px;
  overflow: hidden;
  background-image:url("..//images/bg-hero3.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.Top-Head-layer1{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.Top-Head-layer2{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image:url("../images/bg-hero2.png") ;
  background-size: cover;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 100;
}
.Top-Head-layer{
  display:flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 80px;
  background-image:url("../images/bg-hero1.png") ;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 200;
  box-sizing: border-box;
}

.Top-body{
  max-width: 530px;
  border-radius: 10px;
  padding: 43px 40px 19px;
  text-align: center;
  background: $color--white;
  h1{
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  img{
    width:280px;
    height: auto;
  }
  p{
    margin: 1.3em 0 .5em;
    font-weight: 700;
    letter-spacing: 0;
  }
  a{
    padding: 24px 37px;
    font-size: 18px;
    background: $color--green;
    color:$color--white;                /* 文字色を白 */
    display: block;
    text-decoration: none;
    border-radius: 4px;
    border: solid 1px $color--green;
  }
}
.Top-body-click{
  margin: 0 10px 1em 5px;
  display: inline-block;
  line-height: 1;
}

//-----中心のtextboxの定義ここまで-----
//-----下部の丸イメージ要素とテキストの定義-----

.background-black{
  background:$color--brack;
  padding:64px 0px;
  z-index:500;
}

.matome{
  position: relative;
  display: flex;
  color:$color--white;
  margin-top:-263px;
  justify-content: center;
  z-index: 1000;
}

.title-box{
  margin:0 50px;
  width:229px;
}
.icon-box{
  text-align: center;
  p{
    margin:0.2em 0 0;
    font-weight:700;
    font-size:24px;
    box-sizing: border-box;
  }
  .circle{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    color:$color--brack;
    background:$color--white ;
    border:solid 6px $color--brack;
    margin:0 -1px 0 0;
    i{
      text-align: center;
      line-height:230px ;
      font-size: 100px;
    }
  }
}

.discription-box{
  margin: .5em 0 0;
  line-height: 1.7;
  font-weight: 700;
}
//-----下部の丸イメージ要素とテキストの定義ここまで-----
//-----以下余白の定義-----
.yohaku{
  background-color: $color--skyblue;
}

// レスポンシブ 
//  mixinで書いてincludeで呼び出す→こにさん

//スマホ優位
@media screen and (max-width: 767px){
  .Top-Head{
    height: 0px;
    padding-bottom: 320px;
    background-position: center -25px;
  }
  .Top-Head-layer{
    background-size: cover;
    align-items: flex-end;
    background-position: center -30px;
  }
  .Top-Head-layer2{
    background-size: cover;
    background-position: center -25px;
  }
  .Top-body{
    width: 100%;
    max-width: 100%;
    padding: 9px 0 13px;
    border-radius: 0;
  } 
  .Top-body{
    // transition: all 300ms 0s ease;    
    img{
      display: none;
    }
    p{
      margin: .5em 0;
      font-size: 1.3rem;
    }
  }
  .Top-body-click{
    a{
      padding: 12px 18px;
      font-size: 1.6rem;
    }
  }
  .matome{
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }
  .title-box{
    margin: 0;
    margin-bottom: 2.5em;
    width: auto;
  }
  .wrap{
    margin: 0 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1078px){
  .wrap{
    margin: 0 10px;
  }
  .title-box{
    width: 29.33%;
    margin: 0 2%;
  }
}

@media screen and (max-width: 1200px){
  .header-Top{
    height: 50px;
  }
  .header-title {
    p{
      margin: 10px;
      height: 30px;
    }
    p a{
      height: 30px;
    }
    p a img{
    height: 30px;
    }
  }
  .header-nav {
    li{
      display: none;
    }
    .is-open{
      height: 50px;
      position: relative;
      ul{
        transition: all 300ms 0s ease;
        width: 100vw;
        height: 100%;
        padding: 70px 50px;
        position: fixed;
        flex-direction: column;
        align-items: center;
        z-index: 100;
        overflow-y: auto;
        left: 100%;

      }
    }
  }
  .main{
    padding-top:50px;
  }
}

@media screen and (max-width: 1260px) {
  .nav-body a{
    padding:0px 10px;
  }   
}

@media screen and (max-width: 1280px){
    .header-Top-text{
    display: none;
  }
}

@media screen and (min-width: 1280px){
  main{
    color: red;//可変がわかるように仮入れ
  }
}
